@media only screen and (max-width: 1080px) {
    h1 {
            font-size: 3.5rem;
            margin-top: 3vh;
            margin-bottom: 8vh;
        }
    .abcontwrap{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
    }
    .ppic{
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    .ppic ul{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 2vh;
    }
    .ppic label{
        display: none;
    }
    .ppic img{
        max-width: 30vw;
        align-self: center;
        justify-self: center;
        margin-left: 5vh;
    }


    .abouttext h1{
        font-size: 3.5rem;
        margin-top: 3vh;
        margin-bottom: 8vh;
    }

    .abouttext p{
        font-size: 1.5em;
    }

    .ppic ul #li1 {
        animation: none;
        animation: slideinleft 1s forwards;
    }

    .ppic ul #li2 {
        animation: none;
        animation: slideinleft 2s forwards;
    }

    .ppic ul #li3 {
        animation: none;
        animation: slideinleft 3s forwards;
    }

    .gallwrap{
        margin-top: 0vh;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1vw;
        justify-items: center;
    }
    .gallwrap div{
        border-radius: 15px;
        width: fit-content;
    }
    .grid-item{
        padding: 10vw;
    }
    .grid-item #porthidden {
        display: block;
        margin-top: -5vh;
        background-color: rgba(255, 255, 255, 0.95);
        font-size: 1.5em;
    }
    .grid-item :hover {
        transform: rotate(0deg);
    }

    .formitemwrap {
        margin-left: 0;
    }

    .formitemwrap input:not([type="submit"]){
        font-size: 2rem;
        height: 3vh;
    }
    .formitemwrap label{
        font-size: 2rem;
    }
    textarea{
        font-size: 1.5rem
    }
    .formitemwrap input[type="submit"]{
        font-size: 3rem;
        width: 30vw;
        height: 8vh;
    }





    @keyframes slideinleft {
        0% {
            margin-left: -500%;
        }

        100% {
            margin-left: 0;
        }
    }
}