body{
  background-image: url('Pictures/Wallpaper/pexelsfhd.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 12px;
}

#taskbar{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 162, 237, 0.7);
  padding-bottom: 1px;
}
.taskbarIcons{
  padding-left: 5px;
  padding-right: 5px;

}
.taskbarIcons:hover{
   background-color: rgba(255, 255, 255, 30%);
 }
#taskbarIconsLeftWrapper{
  display: flex;
  align-items: flex-start;
  flex-direction: row;

}
#taskbarIconsRightWrapper{
  position: fixed;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  right: 0px;
  bottom: 0px;
}
#desktopBar{
  border-left: solid white 1px;
  border-radius: 10%;
  height: 32px;
}
